*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cart-trolley--link{
  position: relative;
}
.cart-trolley{
  position: relative;
  font-size: 1.2rem;
}
.cart-total{
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background-color: rgb(137, 137, 249);
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 18px;
  display: grid;
  place-items: center;
}
.services{
  /* 
  display: inline-block;
  margin: 10px; */
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  width: 87%;
  margin: 20px;
  
/* margin-top: 30px; */
}

.icon1{
  background-color: rgb(222, 219, 219);
  border-radius: 40px;
  margin: 30px;
  margin-left: 30px;
}




.trusted{
  background-color: rgb(225, 216, 216);
  text-align: center;

padding-top: 10px;
/* margin-top: 90px; */
}
.foter{
  background-color: black;
  color: white;
  text-align: center;
}
@media (max-width:700px) {
  .services{
    display: flex;
    flex-direction: column;
  }
  .icon1{
    margin: 20px;
  }
  .hero-image{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }
  .card1{
    display: flex;
    flex-direction: column;
  }
  .card{
    margin-top: 20px;
  }
}
/* .contact-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  justify-content: center;
} */
.card-data-flex{
  display: flex;
  justify-content: space-around;
  color: black;
}
.card1{
  display: flex;
  justify-content: space-between;
}
.card{
  color: black;
}
.caption{
  color:grey;
  
}
.home{
  color:black;
  text-decoration: none;
}
.main-sec{
  display: flex;
  justify-content: space-around;
}
.product-data-real-price{
  color: blue;
}